<footer>
  <div class="footer-container">
    <div class="left-col">
      <img src="../../../assets/images/Sello-02.png" alt="" class="logo">
      <div class="social-media">
        <a href="https://www.facebook.com/mortonsubastas/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com/mortonsubastas"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/mortonsubastas/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/mortonsubastas"><i class="fab fa-youtube"></i></a>
        <!-- <a href="#"><i class="fab fa-linkedin-in"></i></a> -->
      </div>
      <p class="rights-text"><b>© 2022 Mi Morton - Morton Subastas</b>  Todos los derechos reservados.</p>
    </div>

    <div class="right-col">
      <h1>Mi Morton</h1>
      <div class="border"></div>
      <br>
      <p><a href="https://mortonsubastas.com/terminosycondiciones/">TÉRMINOS Y CONDICIONES</a></p>
      <p><a href="https://mortonsubastas.com/avisodeprivacidad/">AVISO DE PRIVACIDAD</a></p>
      <!-- <form action="" class="newsletter-form">
        <input type="text" class="txtb" placeholder="Enter Your Email">
        <input type="submit" class="btn" value="submit">
      </form> -->
    </div>
  </div>
</footer>
