input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.head{
    display: flex;
    justify-content: space-between;
}

.login100-form-btn-factura{
    width: 20%;
}
.login100-form-btn{
    width: 15%;
}

.container-login100-form-btn{
    display: flex;
    justify-content: flex-end;
}
.sectionForm{
    display: flex;
    justify-content: space-between;
}

.sectionForm2{
    display: flex;
}

.subtitle{
    color: #004d43;
}

.table{
    width: 100%;
}


.title-table{
    display: flex;
    justify-content: space-between;
}

.fields{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h3{
    color: #004d43;
}