<div class="bg-first-login">
    <div class="limiter animated fadeInDown">
      <div class="container-login100">
          <div class="wrap-login100 p-form">
              <form (ngSubmit) ="onSubmit(formulario)" #formulario="ngForm" class="login100-form validate-form flex-sb flex-w">
                <div class="img-logo-main">
                  <img src="../../../assets/images/logosMorton.png" alt="">
                </div>
                  <h2 class="login100-form-title">
                      <span style="color:#FFF;">Crear nueva cuenta</span>
                  </h2>

                  <!--MASV:Its neccesary to import FormsModule to recognize ngModel-->

                  <span *ngIf="formulario.submitted && formulario.controls['email'].errors" class="text-danger" animated fadeIn>El correo es invalido</span>
                  <div class="wrap-input100 m-b-16">
                      <input class="input100"
                             type="email"
                             name="email"
                             [(ngModel)]="usuario!.email"
                             required
                             email
                             id="email"
                             placeholder="Email">

                      <span class="focus-input100"></span>
                  </div>

                  <span *ngIf="formulario.submitted && formulario.controls['nombre'].errors" class="text-danger" animated fadeIn>El nombre es obligatorio</span>
                  <div class="wrap-input100 m-b-16">
                      <input class="input100"
                             type="text"
                             name="nombre"
                             required
                             minlength="5"
                             [(ngModel)]="usuario!.nombre"
                             placeholder="Nombre y apellidos">

                      <span class="focus-input100"></span>
                  </div>

                  <span *ngIf="formulario.submitted && formulario.controls['password'].errors" class="text-danger" animated fadeIn>El password es obligatorio</span>
                  <label for="password">Debe ser al menos de 6 digitos con un carácter especial</label>
                  <div class="wrap-input100 m-b-16">
                      <input class="input100"
                             type="password"
                             name="password"
                             required
                             minlength ="5"
                             [(ngModel)]="usuario!.password"
                             placeholder="Password">
                      <span class="focus-input100"></span>
                  </div>

                  <span *ngIf="formulario.submitted && formulario.controls['cliente'].errors" class="text-danger" animated fadeIn>El password es obligatorio</span>
                  <label for="cliente">Si no conoce su número de cliente favor de comunicarse al: 55 52 83 31 40 / 0 </label>
                  <div class="wrap-input100 m-b-16">
                      <input class="input100"
                             type="text"
                             name="cliente"
                             required
                             minlength ="5"
                             [(ngModel)]="usuario!.cliente"
                             placeholder="Numero de cliente">
                      <span class="focus-input100"></span>
                  </div>

                  <div class="flex-sb-m w-full p-t-3 p-b-24">
                      <!--
                      <div class="contact100-form-checkbox">
                          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                          <label class="label-checkbox100" for="ckb1" style="margin: auto;">
                              Recordar mi usuario
                          </label>
                      </div>
                      -->
                      <div>
                          <a routerLink="/login" class="txt1">
                              ¿Ya tienes cuenta? / Ingresar
                          </a>
                      </div>
                  </div>
                  <div class="container-login100-form-btn m-t-17">
                      <button class="login100-form-btn" type="submit">
                          Crear cuenta
                      </button>
                      <br>
                      <br>
                      <br>
                      <label style="font-size: 11px;">Nuestro horario de atención es de L-V de 9:30 a 18:00 horas <br>
                        Sabados de 10:00 a 14:00
                    </label>
                  </div>

              </form>
          </div>
      </div>
  </div>

  </div>
