<app-header></app-header><br><br>
<div class="container">
    <div class="col-12">
      <h1 class="main-title-morton">Recibo de compra</h1>
      <b>Recibo:</b> {{ recibo }}<br>
      <b>Nombre Subasta:</b> {{changeAuctName(nom_sub)}}<br>
      <b>No. Subasta:</b> {{ num_sub[0] }}<br>
      <b>Fecha:</b> {{ fecha_sub }}<br>
      <b>Paleta:</b>{{ paleta }}<br>
      <b>Lugar:</b> {{ locale}}<br>
      <br>
      <div class="table-responsive">
        <div class="buttons" style="margin-bottom:10px;">
          <a href="https://mimorton.com/imglink/pdf/{{recibo}}.pdf" target="_blank">
            <button class="btn-morton-menuimprimir-out" (click)="imprimir()">Imprimir</button>
          </a>
          <button class="btn-morton-pagar" *ngIf = "totalDebt > 0">Pagar</button>
          <button type="button" class="btn-morton-factura" style="float: right;" (click)="openModal()">Solicitar Factura</button>
        </div>
        <span *ngIf = "totalDebt > 0" ><b>Monto Abonado:</b> {{ debt }}</span><br>
        <span *ngIf = "totalDebt > 0"><b>Monto Adeudado: </b> {{ totalDebt }}</span>

      <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">Lote</th>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre lote</th>
              <th scope="col">Martillo</th>
              <th scope="col">Premium</th>
              <th scope="col">Bidsquare</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {{auctionsFindSpecificArr.lot | json}}
            <tr style="text-align:center;" *ngFor="let auctionsFindSpecificArrHTML of auctionsFindSpecificArr; let indice=index">
              <td>{{ auctionsFindSpecificArrHTML.lot }}</td>
              <td>
              <img [src]="auctionsFindSpecificArrHTML.pictpath| safe" width="40%">
              </td>
              <td class="descipt-item">{{ auctionsFindSpecificArrHTML.descript[1] }}</td>
              <td>{{ transformQuantity (auctionsFindSpecificArrHTML.hammer)}}</td> <!--Hammer-->
              <td>{{ calculatePremiumReal(auctionsFindSpecificArrHTML.hammer)}} </td> <!--Premium-->
              <td>{{ calculateAFL(auctionsFindSpecificArrHTML.hammer)}}</td> <!--BidsquareAFL-->
              <td>{{ calculateRealSubTotal(auctionsFindSpecificArrHTML.hammer) }} </td> <!--Subtotal-->
            </tr>
          </tbody>
        </table>
        </div>
      <br>
      <table class="table table-striped custom-table">
        <thead>
          <tr>
            <th scope="col" colspan="3">
              Subtotal: <b>${{ subtotalNew }}</b><br>
            </th>
          </tr>
          <tr>
            <th>Premium: <b>${{ calculatePremiumReceipt(subtotal)}}</b></th>
          </tr>
          <tr>
            <th>Bidsquare: <b>${{ calculateBidsquareReceipt(subtotal)}}</b></th>
          </tr>
          <tr>
            <th>IVA:<b> ${{ calculateIvaReceipt(subtotal)}}</b><br></th>
          </tr>
          <tr>
            <th>
              Total:<b> ${{ calculateTotalReceipt(subtotal)}}</b><br>
            </th>
          </tr>

          <tr>
            <th>
            <!--  <div>
                <a [routerLink]="['/pago', {noRecibo: recibo, total: total_sum}]" >
                  <button class="btn-morton-menuimprimir-out">Pagar</button>
                </a>
              </div> -->
              <!-- <div class="button" *ngIf="estado =='Pagado'">
                <a [routerLink]="['/pago', {noRecibo: recibo, total: total_sum}]" >
                  <button class="btn-morton-menuimprimir-out">Pagar</button>
                </a>
              </div> -->
            </th>
          </tr>

        </thead>
        </table>
    </div>

    <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Solicitar Factura</h5>
          </div>
          <div class="modal-body">
            <label for="adjuntar archivo">Adjunta tu constancia de situación fiscal en formato pdf</label>
            <input type="file"  accept="application/pdf" id="constancia" name="constancia">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="sendEmailConstancia()">Enviar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Éxito</h5>
          </div>
          <div class="modal-body">
            <span>Se ha solicitado factura correctamente, en breve, nuestro equipo se pondrá en contacto contigo vía correo electrónico para enviar tu factura.</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModalSuccess()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Error</h5>
          </div>
          <div class="modal-body">
            <span>Ha ocurrido un error, intentarlo en un momento o comunicarse con el área de TI, al correo ehernandez@mortonsubastas.com</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModalError()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="attachModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Adjuntar archivo</h5>
          </div>
          <div class="modal-body">
            <span>Tiene que adjuntar archivo</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModalAttach()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

</div>
