<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-principal">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo_negro_morton.svg" class="img-princ" he alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn-morton-menu"  routerLinkActive="active-item" [routerLink]="['/home']" style="color:#004d43">Compras</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  btn-morton-menu" routerLinkActive="active-item" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#004d43">
            Ventas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item option" routerLinkActive="active-item" [routerLink]="['/ventas']" style="color:#004d43">Recibo</a>
            <a class="dropdown-item option" routerLinkActive="active-item" [routerLink]="['/contratos']" style="color:#004d43">Contratos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  btn-morton-menu" routerLinkActive="active-item" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#004d43">
            Consignantes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item option" routerLinkActive="active-item" [routerLink]="['/deudas']" style="color:#004d43">Adeudos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-morton-menu" routerLinkActive="active-item" [routerLink]="['/cuentas']" style="color:#004d43">Mis Cuentas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-morton-menu" routerLinkActive="active-item" [routerLink]="['/proximas']" style="color:#004d43">Próximas subastas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-morton-menu" routerLinkActive="active-item" [routerLink]="['/atencion']" style="color:#004d43">Atención</a>
        </li>
        <li class="nav-item">
          <a (click)="salir()" class="nav-link btn-morton-menu" style="color:#004d43">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

