<app-header></app-header><br>
<div id="SpinnerActivo" *ngIf="ActivoSpinner">
  <div class="folding">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
<div class="container" *ngIf="DontShowTable">
  <div class="col-12">
    <h1 class="main-title-morton">Contratos</h1>
    <div class="bs-example" data-example-id="panel-without-body-with-table">
      <!--<h1 class="main-title-morton">Contrato: {{item.receipt}}</h1>--><!--{{contractData | json}}-->
      <div class="filters">
        <div class="form-group col-md-2">
          <label for="anio">Año </label>
          <select name="anio" id="anio" (change)="catchYear($event)">
            <option [value]=""> -- Selecciona --</option>
            <option *ngFor="let year of allYearList" [value]="year.value">{{year.value}}</option>
        </select>
        </div>
        <div class="form-group col-md-2">
            <label for="subasta">Subasta </label>
            <select name="subasta" id="subasta"  (change)="catchSaleno($event)">
              <option [value]=""> -- Selecciona --</option>
              <option *ngFor="let saleno of salenoList" [value]="saleno.value">{{saleno.value}} - {{saleno.date}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="contrato">Contrato </label>
            <select name="contrato" id="contrato" (change)="catchReciept($event)">
              <option [value]=""> -- Selecciona --</option>
              <option *ngFor="let reciept of recieptList" [value]="reciept.value">{{reciept.value}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
          <label for="contrato">Lote </label>
          <select name="lote" id="lote" (change)="catchLot($event)">
            <option [value]=""> -- Selecciona --</option>
            <option *ngFor="let lot of lotList" [value]="lot.value">{{lot.value}}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="contrato">Mostrar </label>
          <button type="button" class="btn showAll"  (click) = "resetArray();">Mostrar todos</button>
        </div>
      </div>
      <div class="table-responsive mb-5">

        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">Lote</th>
              <th scope="col">Descripción</th>
              <th scope="col">Contrato</th>
              <th scope="col">Status</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let value of groupArr">
              <td class="th-partida" scope="row">{{value.lot}}</td>
              <td class="th-descript">{{value.descript.trim()}}</td>
              <td class="th-reciept">{{value.receipt}}</td>
              <td class="th-status">
                Participo en la subasta: {{value.saleno}} <br>
                <span class="condition">
                  <strong>
                    {{value.condition}}
                  </strong><br>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'BDO'">Baja por donación</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'BIN'">Baja por desecho</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'CCL'">Contactar al cliente</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'COS'">Cambio a nueva Subasta</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'DAC'">Devuelto a Consignante</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'DCO'">Devolver al Consignante</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'EIN'">Esperando instrucciones</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'ENP'">En Proceso</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'EAC'">Entregado al Comprador</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'ECO'">Entregar al comprador</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'ADI'">Artículo dividido</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'CMB'">Artículo Combinado</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'CD'">Cambio de Departamento</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'ETR'">En tránsito a otra locación</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'SS'">Sin situación/En revisión</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'LPS' && saledate < value.fecha">Loteado para Subasta<br>{{value.newName}}<br>{{value.fecha}}<br>{{value.newSaleno}}</span>
                  <span *ngIf="value.condition == 'No vendido' && value.actualStatus == 'LPS' && saledate > value.fecha">Loteado para Subasta<br>Fecha de subasta expirada</span>
                  
                
                </span>
              </td>
              <td>{{value.edate | fecha }}</td>
            </tr>
          </tbody>
        </table>
        <!--
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">Año</th>
              <th scope="col">Subasta</th>
              <th scope="col">Contrato</th>
              <th scope="col">Lote</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let value of item.groupItem">
              <td class="th-partida" scope="row">{{transformDate(value.edate)}}</td>
              <td class="th-descript">{{value.saleno}}</td>
              <td class="th-status">{{value.receipt}}</td>
              <td class="th-lote">{{value.lot}}</td>
            </tr>
          </tbody>
        </table>
        -->
        
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer><br><br>