<app-header></app-header><br><br>
<div class="container">
  <div class="col-12">
    <h1 class="main-title-morton">Recibo de venta</h1>
    <b>Recibo: </b>{{inv}} <br>
    <b>Nombre Subasta: </b>{{nombreSubasta}}<br>
    <b>No. Subasta: </b>{{subastaes}} <br>
    <b>Fecha: </b>{{fechaSubasta}}<br>
    <b>Lugar: </b>{{lugar}}<br>

    <br>
    <div class="table-responsive">
      <a href="https://mimorton.com/imglink/pdf/{{recibo}}.pdf" target="_blank">
        <button class="btn-morton-menuimprimir-out" >Imprimir</button>
      </a>
      <br>
      <br>
    <table class="table table-striped custom-table">
        <thead>
            <tr>
                <th scope="col">Lote</th>
                <th scope="col">Imagen</th>
                <th scope="col">Descripción</th>
                <th scope="col">Detalle</th>
                <!-- <th scope="col">Martillo</th>
                <th scope="col">Premium</th>
                <th scope="col">Bidsquare</th>
                <th scope="col">Subtotal</th> -->
            </tr>
        </thead>
        <tbody>
            
            <tr style="text-align:center;" *ngFor="let item of items; let indice=index">
                <td>{{ item.lot }}</td>
                <td>
                    <img [src]="item.pictpath| safe"width="30%">
                </td>
                <td class="descipt-item">{{ item.descript[0] }}</td>
                <td>
                  <a [routerLink]="['/detalle-lote-venta', {lote: item.lot, 
                    hammer:item.hammer, img:item.pictpath}]" target="_blank">
                    Ver Detalle
                  </a>
                </td>
                <!-- <td>{{ item.hammer}}</td>
                <td> {{ item.hammer * 0.20}}</td>
                <td>0</td>
                <td>{{ item.hammer +  item.hammer * 0.20 }} </td> -->
            </tr>
        </tbody>
      </table>
      </div>
    <br>
    <!-- <table class="table table-striped custom-table">
      <thead>
        <tr>
          <th scope="col" colspan="3">
            Subtotal: <b>{{ subtotal}}</b><br>
          </th>
        </tr>
        <tr>
          <th>Premium:<b> {{ premium}} </b></th>
        </tr>
        <tr>
          <th>Bidsquare:<b>$0.00</b></th>
        </tr>
        <tr>
          <th>IVA:<b> {{ iva}}</b><br></th>
        </tr>
        <tr>
          <th>
            Total:<b> {{ total_sum}} </b><br>
          </th>
        </tr>
        <tr>
          <th>
            <a href="https://www.flap.com.mx/multipagos/" target="_blank">
              <button class="btn-morton-menuimprimir-out" >Pagar</button>
            </a>
          </th>
        </tr>
      </thead>
    </table> -->
</div>
