<app-header></app-header><br><br>

<div class="container">
  <div class="col-12">
    <h1 class="main-title-morton">Ventas</h1>
    <div id="SpinnerActivo" *ngIf="ActivoSpinner">
       <!-- begin folding modal -->
      <div class="folding">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
      <!-- Cargando información... -->
    </div>

    <div *ngIf="DontShowTable">
    <div class="table-responsive">
      <table class="table table-striped custom-table">
        <thead>
          <tr>
            <th scope="col" class="header">Imagen</th>
            <th scope="col" class="header">Lote</th>
            <th scope="col" class="header">Subasta</th>
            <th scope="col" class="header">Precio</th>
            <th scope="col" class="header">Estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let auctionsFindSpecificArr of auctionsFindSpecificArr">
            <td class="item">
              <img style="max-width:40% ;" [src]="auctionsFindSpecificArr.pictpath | safe" alt="Image">
              <!-- <a [routerLink]="['/imagenD', {subasta: auctionsFindSpecificArr.saleno, id:auctionsFindSpecificArr.refno }]">
              </a> -->
                <!-- <img  [src]=" auctionsFindSpecificArr.imagen" alt="Image"> -->
            </td>
            <td class="item">
                Lote: {{ auctionsFindSpecificArr.lot}}<br>
                Descripción: {{ auctionsFindSpecificArr.descript}}
            </td>
            <td class="item">
              No. {{auctionsFindSpecificArr.saleno }}<br>
              {{auctionsFindSpecificArr.salename }}<br>
              {{ auctionsFindSpecificArr.date}}
              <a [routerLink]="['/recibo-venta', {subasta: auctionsFindSpecificArr.saleno, 
                id:auctionsFindSpecificArr.refno, iv:auctionsFindSpecificArr.invno, 
                salename: auctionsFindSpecificArr.salename, saleDate: auctionsFindSpecificArr.saledate,
                salelocale: auctionsFindSpecificArr.salelocale}]">
                Ver recibo: {{auctionsFindSpecificArr.invno}}
              </a>
            </td>
            <td class="item">
              <img src="../../../assets/images/auction.png" alt="">
              <br>{{numberWithCommas(auctionsFindSpecificArr.martillo) }}.00
            </td>
            <td class="item">
              <img src="../../../assets/images/info.png" alt="">
              <br>{{ auctionsFindSpecificArr.estatus }}
            </td>
          </tr>
        </tbody>


      </table>
    </div>
  </div>

    <!--¡Welcom!<br><br>
    It is a program where You might undersand English.-->
  </div>
</div>
