<app-header></app-header><br><br>

<div class="container">
  <div class="col-12">
    <h1 class="main-title-morton">Ventas</h1>
    <div id="SpinnerActivo" *ngIf="ActivoSpinner">
       <!-- begin folding modal -->
      <div class="folding">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
      <!-- Cargando información... -->
    </div>

    <div *ngIf="DontShowTable">
    <div class="table-responsive">
      <table datatable class="table table-striped custom-table">
        <thead>
          <tr>
            <th style="text-align:center!important;">Imagen</th>
            <th style="text-align:center!important;">Lote</th>
            <th style="text-align:center!important;">Subasta</th>
            <th style="text-align:center!important;">Precio</th>
            <th style="text-align:center!important;">Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let auctionsFindSpecificArr of auctionsFindSpecificArr">
            <td style="text-align:center!important;">
              <img style="max-width:30% ;" [src]="auctionsFindSpecificArr.pictpath | safe" alt="Image">
              <!-- <a [routerLink]="['/imagenD', {subasta: auctionsFindSpecificArr.saleno, id:auctionsFindSpecificArr.refno }]">
              </a> -->
                <!-- <img  [src]=" auctionsFindSpecificArr.imagen" alt="Image"> -->
            </td>
            <td style="text-align:center!important;">
                Lote: {{ auctionsFindSpecificArr.lot}}<br>
                Descripción: {{ auctionsFindSpecificArr.descript}}
            </td>
            <td style="text-align:center!important;">
              No. {{auctionsFindSpecificArr.saleno }}<br>
              {{changeAuctName(auctionsFindSpecificArr.salename)}}<br>
              {{ auctionsFindSpecificArr.fchVenta}}<br>
            </td>
            <td style="text-align:center!important;">
              <img src="../../../assets/images/auction.png" alt="">
              <br>{{numberWithCommas(auctionsFindSpecificArr.martillo) }}.00
            </td>
            <td style="width:20%;text-align:center!important;">
              <a [routerLink]="['/detalle-lote-venta', {lote: auctionsFindSpecificArr.lot, 
                hammer:auctionsFindSpecificArr.martillo, img:auctionsFindSpecificArr.pictpath, inv: auctionsFindSpecificArr.invno}]" target="_blank">
                <button class="btn btn-sm" style="font-size:12px; background-color: #004d43!important;color:white!important" type="button"><i class="fa fa-eye"></i>Recibo</button>
              </a>
            </td>
          </tr>
        </tbody>


      </table>
    </div>
  </div>

    <!--¡Welcom!<br><br>
    It is a program where You might undersand English.-->
  </div>
</div>
