.elements-table{
  text-align: center;
}

.elements-table-image{
  text-align: center;
  width: 20%;

}

.button-sections{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*
cerecedor
*/