.elements-table{
  text-align: center;
}

.elements-table-image{
  text-align: center;
  width: 20%;

}

.button-sections{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px !important; 
  border: transparent !important;
}

/*
cerecedor
*/

_ngcontent-pkr-c54{
  text-align: center !important;
}

option{
  text-align: center;
}