<app-header></app-header><br><br>
<div class="container">
    <div class="col-12">
      <h1 class="main-title-morton">Compras</h1>

      <div id="SpinnerActivo" *ngIf="ActivoSpinner">
        <div class="folding">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>

     

      <div *ngIf="DontShowTable">
        <div class="table-responsive">
          <table datatable class="table table-striped custom-table" >
          <thead>
            <tr>
              <th style="text-align:center!important;">Imagen</th>
              <th style="text-align:center!important;">Lote</th>
              <th style="text-align:center!important;">Subasta</th>
              <th style="text-align:center!important;">Precio</th>
              <th style="text-align:center!important;">Estatus</th>
              <th style="text-align:center!important;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let auctionsFindSpecificArr of auctionsFindSpecificArr">
              <td class="elements-table-image">
                <!-- <a [routerLink]="['/recibo', {subasta: auctionsFindSpecificArr.saleno,
                  id:auctionsFindSpecificArr.refno, iv: auctionsFindSpecificArr.invno }]" target="_blank">
                  {{auctionsFindSpecificArr.invno}}
                </a> -->

                  <img style="max-width:100% ;" [src]="auctionsFindSpecificArr.pictpath | safe" alt="Image">

              </td>
              <td class="elements-table">
                <b>Lote:</b> {{ auctionsFindSpecificArr.lot}}<br><br>
                  {{ auctionsFindSpecificArr.descript}}
                  <!-- {{auctionsFindSpecificArr.saleno}} -->
              </td>
              <td class="elements-table">
                No. {{auctionsFindSpecificArr.saleno }}<br>
                {{changeAuctName(auctionsFindSpecificArr.salename)}}<br>
                {{ auctionsFindSpecificArr.dateshort }} <br><br>
                
              </td>
              <td class="elements-table">
                <img src="../../../assets/images/auction.png" alt="">
                <br>
                ${{numberWithCommas(auctionsFindSpecificArr.martillo) }}.00<br>
              </td>
              <td class="elements-table">
                
                
                  <img src="../../../assets/images/info.png" alt="">
                  <br>
                  {{ auctionsFindSpecificArr.estate }}<br>
                  <span *ngIf="auctionsFindSpecificArr.estate == 'Pagado' && auctionsFindSpecificArr.lastinfo == 'EAC' "><b>Entregado al Comprador</b></span>
                  <span *ngIf="auctionsFindSpecificArr.estate == 'Pagado' && auctionsFindSpecificArr.lastinfo == 'EIN' "><b>Esperando Instrucciones</b></span>
                  <span *ngIf="auctionsFindSpecificArr.estate == 'Pagado' && auctionsFindSpecificArr.lastinfo == 'ENP' "><b>En Proceso</b></span>
                  <span *ngIf="auctionsFindSpecificArr.estate == 'Pagado' && auctionsFindSpecificArr.lastinfo == 'VEN' "><b>Vendido</b></span>
                  <span *ngIf="auctionsFindSpecificArr.estate == 'Pagado' && auctionsFindSpecificArr.lastinfo == 'VDS' "><b>Vendido después de subasta</b></span>
                  <!-- <div class="invoices" *ngIf="auctionsFindSpecificArr.estate =='Pagado'">
                    <a [routerLink]="['/factura', {iv:auctionsFindSpecificArr.invno, id:auctionsFindSpecificArr.refno}]" target="_blank">
                      <button class="btn-morton-menuimprimir-out" >Facturar</button>
                    </a>
                  </div> -->
                  <!--  -->
              </td>
              <td>
                
                  <a  style="color:white;" [routerLink]="['/recibo', {subasta: auctionsFindSpecificArr.saleno, id:auctionsFindSpecificArr.refno, 
                                                iv:auctionsFindSpecificArr.invno, state: auctionsFindSpecificArr.estate, 
                                                cliente: cliente_num, receipt:auctionsFindSpecificArr.receipt, dateSale: auctionsFindSpecificArr.dateshort }]">
                                                <button style="font-size:12px;margin-top:5px;border:unset!important;" type="button" class="btn btn-primary btn-sm btn-danger" *ngIf="auctionsFindSpecificArr.debtAmount >0"><i class="fa fa-money" aria-hidden="true"></i> Pagar</button>
                                                <button type="button" class="btn btn-primary btn-sm" style="font-size:12px;margin-top:5px;background:#004d43!important;border:unset!important;" *ngIf="auctionsFindSpecificArr.debtAmount == 0"> <i class="fa fa-eye" aria-hidden="true" ></i> Recibo </button>
                  </a>
                 
                  

              </td>
            </tr>
          </tbody>
          </table>
        </div>
    </div>
  </div><br><br><br>

  <app-footer></app-footer>
