<div class="bg-first-login">
    <div class="limiter animated fadeInDown">
        <div class="container-login100">
            <div class="wrap-login100 p-form">
                
                <form (ngSubmit) ="onSubmit(formulario)" #formulario="ngForm" class="login100-form validate-form flex-sb flex-w"> 
                    <!-- <div class="img-logo-main">
                        <img src="../../../assets/images/logosMorton.png" alt="">
                    </div>
                    <div class="message">
                        <h2 class="login100-form-title">
                            <span style="color:#FFF;font-size: 26px;">Recuperar Contraseña</span>
                        </h2>
                        <p style="color: #FFF;">Esta es una nueva versión de Mi Morton, para iniciar sesión es necesario registrarse:</p> <br>
                        <a routerLink="/registro" class="txt1" style="text-align: center;font-size: 20px;">Registro</a>
                    </div> -->

                    
                    <h2 class="login100-form-title">
                        <span style="color:#FFF;font-size: 26px;">Recuperar Contraseña</span>
                    </h2>
                    
                    <span *ngIf="formulario.submitted && formulario.controls['cliente'].errors" class="text-danger" animated fadeIn>El password es obligatorio</span>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100"
                                type="text"
                                name="cliente"
                                required
                                minlength ="5"
                                [(ngModel)]="usuario!.cliente"
                                placeholder="Numero de cliente">
                        <span class="focus-input100"></span>
                    </div>

                    <span *ngIf="formulario.submitted && formulario.controls['password'].errors" class="text-danger" animated fadeIn>Contraseña requerida</span>
                    <label for="password" style="color: #FFF;font-size: 12px;">Debe ser al menos de 6 digitos con un carácter especial</label>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100"
                            type="password"
                            name="password"
                            required
                            minlength ="5"
                            [(ngModel)]="usuario!.password"
                            placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                            Enviar
                        </button>  
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

