<app-header></app-header><br><br>

<div class="container">
    <div class="col-12">
    <h1 class="main-title-morton">Detalle de lote: <strong>{{lote}} </strong> </h1>
    <div class="img-container">
        <img [src]="imagen| safe"width="22%">
    </div>
    <br>
    <table class="table table-striped custom-table">
        <thead>
            <tr>
                <th>Subasta</th>
                <th>Lote</th>
                <th>Martillo</th>
                <th>Foto</th>
                <th>Seguro</th>
                <th>Comisión</th>
                <th>ARR</th>
                <th>ISR</th>
                <th>IVA</th>
                <th>Total</th>
            </tr>
        </thead>
            <tbody>
                <td style="text-align: center;">{{saleno}}</td>
                <td style="text-align: center;">{{lote}}</td>
                <td style="text-align: center;">{{hammer}}</td>
                <td style="text-align: center;">{{photo}}</td>
                <td style="text-align: center;">{{inssurance}}</td>
                <td style="text-align: center;">{{commission}}</td>
                <td style="text-align: center;">{{arr}}</td>
                <td style="text-align: center;">{{isr}}</td>
                <td style="text-align: center;">{{vat}}</td>
                <td style="text-align: center;">{{total}}</td>
            </tbody>
    </table>
</div>
