<app-header></app-header><br>
<div class="card">
    <div class="card-header">
      Contactanos
    </div>
    <div class="card-body">
      <h5 class="card-title">Dudas o Apoyo Técnico</h5>
      <p class="card-text">Si tiene alguna duda o necesita algún apoyo técnico para la plataforma MiMorton, por favor, mande correo a <a href="mailto:sistemas@mortonsubastas.com">sistemas@mortonsubastas.com</a>.</p>
    </div>
</div>

<div class="card atencion">
  <div class="card-header">
    Atención a Clientes
  </div>
  <div class="card-body">
    <h5 class="card-title">Dudas o Atención a Clientes</h5>
    <p class="card-text">Si tiene alguna duda o necesidad de servicio al cliente, por favor, mande correo a <a href="mailto:zrocha@mortonsubastas.com">zrocha@mortonsubastas.com</a>.</p>
  </div>
</div>

<app-footer></app-footer><br><br>