<app-header></app-header>
<br>
<div class="container">
    <div class="col-12">
        <img src="../../../assets/images/comprobado.png" alt="" class="success-img">
        <br>
        <h1 class="main-title-morton">¡PAGO REALIZADO!</h1>
        <h4>Detalle</h4>
        <br>
        <div class="container-table">
            <table>
                <tr>
                    <td>Monto</td>
                    <td>$1000.00</td>
                </tr>
                <tr>
                    <td>Fecha</td>
                    <td>12/05/2023</td>
                </tr>
                <tr>
                    <td>Referencia</td>
                    <td>F10052023H1640122</td>
                </tr>
            </table>

        </div>
    </div>
</div>