<app-header></app-header>
<br>
<div class="container">
  <div class="col-12">
    <h1 class="main-title-morton">Proximas Subastas</h1>
    <div class="" *ngFor="let sub of resultado">
      <br>
      <div class="subasta">
        <div class="imagen">
          <img src="https://www.mortonsubastas.com/new/img/mini/{{sub.subWebInfo_MinIMG}}" alt="Image" width="80%">
        </div>
        <div class="descripcion">
          <br>
          <h3><strong>{{sub.subasta_Nom}}</strong></h3>
          <p class="description-subasta">
            {{sub.subasta_Des | slice:0:300}}
            <br>
          </p>
          <p class="inf-sub">
            {{sub.subWebInfo_FecMan}}<br>
            <strong>{{sub.salon_nom }}</strong>
          </p>
          <div class="gosubastas">
            <a  class="detail" href="https://www.mortonsubastas.com/subastas/?Sub={{sub.subasta_NumSub}}" target="_blank">
              <button class="button">
                Detalle
              </button>
            </a>
          </div>
          <br>
        </div>
      </div>
    </div>
</div>



